@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

/* DIVISÃO DE GRID PARA */
.container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0px 1%;
}

.container-fluid{
    width: 100%;
}

.row{
    width: 100%;
    padding: 0 1%;
}

.col-m-1{
    box-sizing: border-box;
    width: 8.333%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}
.col-m-2{
    box-sizing: border-box;
    width: 16.666%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-3{
    box-sizing: border-box;
    width: 25%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-4{
    box-sizing: border-box;
    width: 33.333%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-5{
    box-sizing: border-box;
    width: 41.666%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-6{
    box-sizing: border-box;
    width: 50%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-7{
    box-sizing: border-box;
    width: 58.333%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-8{
    box-sizing: border-box;
    width: 66.666%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-9{
    box-sizing: border-box;
    width: 75%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-10{
    box-sizing: border-box;
    width: 83.333%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-11{
    box-sizing: border-box;
    width: 91.666%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

.col-m-12{
    box-sizing: border-box;
    width: 100%;
    padding: 0 10px;
    float: left;
    overflow: hidden;
}

body{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: #000000;
    color: rgb(255 , 255, 255);
}

/* ESTILIZAÇÃO DO CABEÇALHO */

#header {
    height: 80px;
}

header :nth-child(n){
    height: inherit;
    width: 100%;
}

.header-logo a{
    width: 100%;
}

header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#header-logo {
    max-height: 60px;
    max-width: 227px;
    width: inherit;
}


.nav-menu-item {
    height: 75px;
    float: right;
    padding: 0px 2%;
}

.nav-menu-item a {
    line-height: 75px;
    color:rgb(255 , 255, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.nav-menu-item:nth-child(n + 2):hover a, .nav-menu-item:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(255 , 255, 255);
}

#nav-menu-sign-in a {
    border: 1px solid rgb(255 , 255, 255);
    border-radius: 3px;
    padding: 5px 15px;
}

#nav-menu-sign-in a:hover, #nav-menu-sign-in:hover {
    color: rgb(253, 0, 0);
    border-color: rgb(253, 0, 0);
    background-color: rgb(0, 0, 0);
}