@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

/* DIVISÃO DE GRID PARA */
.container-compact{
}

.container-fluid{
    width: 100%;
}

.container {
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
}

body{
    font-family: 'Open sans', sans-serif;
}

/* BARRA DE CONTATO */
.contact-bar {
    display: none;
    
    background-color: #DEDEDE;
    color: #ffffff;
    text-shadow: 1px 2px 4px #000;
}

.contact-container {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;


    height: 25px;
}

.contact-container span {
    padding-left: 30px;
    
}

/* HEADER DA PÁGINA */
.header {
    position: absolute;
    background-color: rgba(200, 15, 0, 0);
    height: 75px;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
}

.header-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#nav-menu {
    height: 100%;
}
#nav-menu ul, .nav-menu-item a {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-menu-item {
    height: 100%;
}

.nav-menu-item a{
    padding: 15px;

    color: #acacac;
    text-decoration: none;
    /* text-transform: uppercase; */

    transition: all 0.5s;
}

.nav-menu-item a:hover {
    color: #d4d4d4;
    transform: scale(1.05);
}

/* .nav-menu-item, a {
    display: flex;
    align-items: center;

    height: 100%;
} */


/* ADICIONA TRANSPARENCIA AO BANNER E O POSICIONA */
.banner img{
    width: 100%;
}

.banner::after {
    content: '';

    background-color: black;
    opacity: 0.8;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 75px;
    left: 0;
}



@media (max-width: 1023px){
    /* body{
        background-color: aqua;
    } */

}

@media (max-width: 720px){
    /* body {
        background-color: rgb(24, 21, 204);
    } */
}

